body {
    margin: 0;
}

.header {
    &-contacts {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &_phone {
            font-size: 1.3rem;
            margin-right: 1rem;
        }
    }
}

.main {
    position: relative;
    background: url(../img/bg-main.jpg) center no-repeat;
    background-size: cover;
    color: $white;
    z-index: 1;

    /* затемнение фонового изображения */
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }

    &-img {
        position: relative;
        /*попытка нарисовать круг вокруг коробок
        &::before {
            position: absolute;
            z-index: -1;
            content: '';
            width: 390px;
            height: 390px;
            left: 70%;
            margin-left: -210px;
            top: 4%;
            border: 1px solid;
            border-radius: 50%;
        }*/
    }

    &-text {
        &_title {
            font-weight: 700;
            margin-bottom: 1.3rem;
        }

        &_subtitle {
            font-size: 1.75rem;
            font-weight: 300;
        }

        &_form {
            padding: 2rem 1.7rem;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

}

.form {
    display: flex;
    justify-content: space-between;

    &-title {
        margin-bottom: 0.5rem;
        padding-right: 2.3rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;

        &_important {
            font-weight: 700;
            text-transform: uppercase;

        }
    }

    &-input {
        margin-right: 1rem;
        padding: 1.1rem;
        border-radius: 4px;
        border: none;
        flex-basis: 60%;
    }

    &-small {
        font-size: 0.8rem;
        font-weight: 300;
        display: block;
    }
}

.btn-big {
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
    flex-basis: 40%;
}

.features {
    background-color: $bg-color-light;
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    &-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-block {
        display: flex;
        align-items: center;
        flex-basis: 30%;
        background-color: #fff;
        padding: 1.8rem 1.5rem;
        margin-bottom: 2rem;

        &__img {
            flex-basis: 40%;
            margin-right: 0.6rem;
        }

        &__title {
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }

        &__descr {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.numbers {
    text-align: center;
    margin-bottom: 2.2rem;

    &-block {
        display: inline-block;
        width: 30%;
        vertical-align: top;

        &__title {
            margin-bottom: 0.8rem;
            font-size: 2rem;
            font-weight: 900;
            color: $warning;

            sup {
                font-size: 1.2rem;
                ;
            }
        }

        &__text {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.section-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

    &::after {
        content: '';
        margin-top: 0.7rem;
        display: block;
        height: 0.3rem;
        background: url(../img/h2.png) center no-repeat;
    }
}

.products {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    &-block {
        margin-bottom: 2rem;
        text-align: center;

        &__img {
            margin-bottom: 1rem;
        }

        &__title {
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.button-o {
    background-color: transparent;
    border: 1px solid rgba(#373737, 0.5);
}

.offer {
    padding-top: 4rem;
    padding-bottom: 4.2rem;
    color: white;
    background: grey url(..\img\spec-form-b__bg1.jpg) center no-repeat;
    text-align: center;

    &-title {
        font-size: 2rem;
        font-weight: 300;

        &_small {
            font-size: 1.8rem;
            display: block;
            margin-bottom: 1.2rem;
        }
    }

    &-form {

        &_label {
            display: block;
            font-size: 1.2rem;
            font-weight: 300;

        }

        &_input {
            margin-right: 1rem;
            margin-bottom: 1rem;
            padding: 1.1rem;
            border-radius: 4px;
            border: none;
            flex-basis: 58%;
        }
    }
}

.make {
    padding-top: 6rem;
    padding-bottom: 6rem;

    &-slider {
        position: relative;
        z-index: 2;
        margin-top: 1rem;

        &_top {
            margin-bottom: 0.7rem;
            height: 380px;
        }

        &_item {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

        &-bottom {
            margin-top: 1.3rem;
            padding: 0 2.7rem;
            transform: translatex(0.1rem);
            margin-left: -.1rem;

            img {
                max-width: 15rem;
                padding: .3rem;
                cursor: pointer;
            }
        }
    }

    &-text {
        max-width: 380px;

        &_title {
            position: relative;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            margin-left: -10%;
            padding-left: 10%;
            margin-top: 1.1rem;
            margin-bottom: 1rem;
            width: 110%;
            z-index: -1;
            color: $white;
            background-color: $warning;
            font-size: 1.6rem;
            font-weight: 300;
        }

        &_descr {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5rem;
            text-align: justify;
        }
    }
}

.make-slider-btn {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 2.5rem;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f39003;
    transition: all .2s;
    z-index: 1;
}


.make-slider-btn {
    &:hover {
        background-color: rgba(#ff9d00, 0.9);
        outline: none;
    }
}


.prev-btn {
    left: -.1rem;
    background-color: #ff9d00;
    background: url(../img/make/back.png )#ff9d00 center no-repeat;
}


.next-btn {
    right: -.1rem;
    background: url(../img/make/next.png)#ff9d00 center no-repeat;
}

.feedback {
    padding-bottom: 5rem;
    background: #f4f4f4;
}

.section_title {
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}

h1.section_title {
    margin: 0;
    font-size: 2.7rem;
    font-family: 'Roboto_bold', sans-serif;
}

.feedback-slider {
    position: relative;
    margin: 0 auto;
}

.feedback-slider img {
    margin: 0 auto;
    width: 27rem;
    height: 38rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.feedback-arrow {
    z-index: 1000;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -4rem;
    height: 8rem;
    width: 3rem;
    border: none;

    &:hover {
        outline: none;
    }
}


.prev2 {
    background: url(../img/feedback/prev2.png) center no-repeat;
    left: -4rem;
    outline: none;
}

.next2 {
    background: url(../img/feedback/next2.png) center no-repeat;
    right: -4rem;
    outline: none;
}

.contacts {
    //padding-top: 5rem;
    //padding-bottom: 6rem;
    position: relative;

    &-block {
        position: absolute;
        left: 70%;
        top: 10%;
        background: #fff;
        padding: 2rem;
        padding-left: 3rem;

        &__title {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0.4rem;
            margin-top: 0.5rem;
        }

        &__text {
            margin-bottom: 1.8rem;
        }


    }
}

.clients {
    text-align: center;
    padding-bottom: 3rem;


    &-title {
        margin-top: 3.5rem;
        margin-bottom: 2rem;

        h2 {
            text-transform: uppercase;
            margin: 0;
            font-family: 'Roboto_bold', sans-serif;
            font-size: 2.7rem;

        }
    }

    &-block {

        border: 1px solid #e5e5e5;
        border-radius: 5px;
        height: 13.1rem;
        line-height: 13.1rem;
        margin-bottom: 3rem;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        border: 1px solid #ad1313;
        border-radius: 5px;
        transition: all .2s;

        &:hover {
            -webkit-filter: grayscale(1%);
            filter: grayscale(1%);
        }
        img {
            max-height: 90%;
            max-width: 90%;
          }
          
    }
}