body {
    margin: 0;
}

.header {
    &-contacts {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &_phone {
            font-size: 1.3rem;
            margin-right: 1rem;
        }
    }
}

.main {
    position: relative;
    background: url(../img/bg-main.jpg) center no-repeat;
    background-size: cover;
    color: $white;
    z-index: 1;

    /* затемнение фонового изображения */
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }

    &-img {
        position: relative;
        /*попытка нарисовать круг вокруг коробок
        &::before {
            position: absolute;
            z-index: -1;
            content: '';
            width: 390px;
            height: 390px;
            left: 70%;
            margin-left: -210px;
            top: 4%;
            border: 1px solid;
            border-radius: 50%;
        }*/
    }

    &-text {
        &_title {
            font-weight: 700;
            margin-bottom: 1.3rem;
        }

        &_subtitle {
            font-size: 1.75rem;
            font-weight: 300;
        }

        &_form {
            padding: 2rem 1.7rem;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

}

.form {
    display: flex;
    justify-content: space-between;

    &-title {
        margin-bottom: 0.5rem;
        padding-right: 2.3rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;

        &_important {
            font-weight: 700;
            text-transform: uppercase;

        }
    }

    &-input {
        margin-right: 1rem;
        padding: 1.1rem;
        border-radius: 4px;
        border: none;
        flex-basis: 60%;
    }

    &-small {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.btn-big {
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
    flex-basis: 40%;
}

.features {
    background-color: $bg-color-light;
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    &-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-block {
        display: flex;
        align-items: center;
        flex-basis: 30%;
        background-color: #fff;
        padding: 1.8rem 1.5rem;
        margin-bottom: 2rem;

        &__img {
            flex-basis: 40%;
            margin-right: 0.6rem;
        }

        &__title {
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }
        &__descr {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.numbers {
    text-align: center;
    margin-bottom: 2.2rem;

    &-block {
        display: inline-block;
        width: 30%;
        vertical-align: top;

        &__title {
            margin-bottom: 0.8rem;
            font-size: 2rem;
            font-weight: 900;
            color: $warning;

            sup {
                font-size: 1.2rem;
                ;
            }
        }

        &__text {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}